<mat-card>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onFilter()" >
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Employee Full Name</mat-label>
            <input type="text"
                   placeholder="Type Name"
                   aria-label="Employee Name"
                   matInput
                   formControlName="selectedName"
                   [matAutocomplete]="auto">
            <mat-autocomplete hideSingleSelectionIndicator="true" #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredEmployeesNames | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter a date range or from/to date</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate formControlName="fromDate" placeholder="From date">
              <input matEndDate formControlName="toDate" placeholder="To date">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            <mat-error *ngIf="form.controls.fromDate.hasError('matStartDateInvalid')">Invalid from date</mat-error>
            <mat-error *ngIf="form.controls.toDate.hasError('matEndDateInvalid')">Invalid to date</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Performance manager</mat-label>
            <mat-select formControlName="selectedManagerId" name="manager">
              <mat-option [value]=""></mat-option>
              <mat-option *ngFor="let manager of managers" [value]="manager.id">
                {{manager.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button class="filter-button" mat-raised-button type="submit">Filter</button>
        </form>
    </mat-card-content>
</mat-card>
